<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header" id="header">
</div>
<div th:fragment="menu" id="menu">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Team X</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#" th:href="@{/}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" >Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#" th:href="@{/login}">Login</a></li>
      <li><a href="#" th:href="@{/products}">Products Listing</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li th:if="${not #lists.isEmpty(session.usession)}">
      <a href="#" th:utext="${session.usession.userName}" > User </a></li>
      <li><a href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
</div>
<footer th:fragment="footer">
		<a href="Home" th:href="@{/}">Back to Home</a>
		<br/>
		 <small>Now is: <b
			th:text="${execInfo.now.time}"></b></small> <br /> <small>
			(c) Inventory Management System, ISS, NUS 2020</small>
</footer>

</body>
</html>