
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Facilities Listing</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Facilities Listing</h1>
	<!-- Add Hyperlink -->
	<a href="AddFacility.html" th:href="@{/facility/add}">Add Facility</a>

	<h2 th:if="${not #lists.isEmpty(facilities)}">Facility List</h2>
	<table th:if="${not #lists.isEmpty(facilities)}">
		<tr>
			<th>Facility Id</th>
			<th>Facility Name</th>
			<th>Facility Description</th>
			<th>Edit Facility</th>
			<th>Delete Facility</th>
		</tr>
		<tr th:each="facility:${facilities}">
			<td th:text=${facility.facilityId}>Facility Id</td>
			<td th:text=${facility.name}>Facility Name</td>
			<td th:text=${facility.description}>Facility Description</td>
			<td><a href="EditFacility.html"
				th:href="@{/facility/edit/}+${facility.facilityId}">Edit</a></td>
			<td><a href="DeleteFacility.html"
				th:href="@{/facility/delete/}+${facility.facilityId}">Delete</a></td>
		</tr>
	</table>

	 <br/>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>